body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
}

/* YOUTUBE TŁO */
#yt-background iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

/* LEWY PANEL */
#left-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 22%;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
}

/* PRAWY PANEL */
#right-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 22%;
  padding: 20px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
}

#clock {
  font-size: 48px;
  margin-top: 40px;
  color: red;
  text-shadow: 0 0 10px red;
}

/* ŚRODEK */
#center-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#profile-pic {
  width: 180px;
  border-radius: 50%;
  border: 5px solid red;
  box-shadow: 0 0 15px red;
}

#email {
  margin-top: 15px;
  font-size: 18px;
  text-shadow: 0 0 5px red;
}

/* SOCIAL MEDIA */
#social-media img {
  width: 45px;
  margin: 7px;
  filter: drop-shadow(0 0 6px red);
  transition: 0.2s;
}
#social-media img:hover {
  transform: scale(1.15);
}

/* STOPKA */
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: red;
  text-shadow: 0 0 10px red;
  font-weight: bold;
  font-size: 20px;
}
